*{
    box-sizing: border-box;
    margin: 0;
}

html{
    overflow-y: scroll;
}

.app-wrapper{
    min-height: 100vh;
    background-image: url('../joanna-kosinska-1_CMoFsPfso-unsplash.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1{
    color: #695820;
    font-size: clamp(30px, 4.5vw, 50px)!important;
    text-shadow: 0px 3px 0px #fff;
    font-weight: bold!important;
}

p{
    color: #fff;
}

.btn-primary{
    background-color: #BF8E24!important;
    border-color:#695820!important;
    &:hover{
        background-color: #695820!important;
    }
}

.alert{
    background-color: #F4CD78!important;
    border-color:#735516!important;
    color: #735516!important;
    font-weight: bold;

}

.img-wrapper{
    max-width: 150px;
    height: auto;
    img{
        width: 100%;
    }
}

.logo{
    filter: drop-shadow(7px 7px 7px #ffffff);
    -webkit-filter: drop-shadow(7px 7px 7px #ffffff);
}